<div style="padding:10px">

	<h1>Список задач</h1>

	<div v-if="currentMode==0">
	
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col"><a href="#" @click="sortList(); sortDirection=!sortDirection">Название</a></th>
			<th scope="col">Исполнитель</th>
			<th scope="col">Время (ч.)</th>
			<th scope="col">Стоимость работы</th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td colspan="6">
				<input v-model="filter" @input="filterList()" type="text" placeholder="Фильтр"/>
			</td>
		</tr>
		<tr v-for="(item, index) in filteredList" :key="index">
			<th scope="row">{{index+1}}</th>
			<td>{{item.name}}</td>
			<td>{{findUser(item.user_id).name}}</td>
			<td>{{item.time}}</td>
			<td>{{item.time*findUser(item.user_id).price}}</td>
			<td>
				<button class="btn" @click="editTask(item)">редактировать</button>
				<button class="btn" @click="deleteTask(item)">удалить</button>
			</td>
		</tr>
		<tr>
			<td colspan="3">ИТОГО:</td>
			<td>{{totalTime}}</td>
			<td>{{totalPrice}}</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="6" align="right">
				<button type="button" class="btn btn-light" @click="editTask()">Добавить</button>
				<button type="button" :disabled="!checkSendButton()" class="btn btn-light" @click="sendToServer()">Отправить на сервер</button>
			</td>
			
		</tr>
		</tbody>			
	</table>
	</div>
	<div v-else-if="currentMode==1">

		<h2>Редактирование записи</h2>

			<div class="form-group">
				<label>Название</label>
				<input type="text" class="form-control" v-model="currentTask.name">
			</div>
			<div class="form-group">
					<label>Время</label>
					<input type="text" class="form-control" v-model="currentTask.time">
			</div>
			<div class="form-group">
				<label>Исполнитель</label>
				<select value="currentTask.user_id" v-model="currentTask.user_id" class="form-control">
					<option v-for="(item, index) in userList" :value="item.id" :selected="currentTask.user_id==item.id">{{item.name}}</option>
				</select>
			</div>
			<button type="submit" :disabled="!checkAddButton()" @click="updateTask()" class="btn btn-primary">Сохранить</button>
			<button type="submit" @click="cancelEdit()" class="btn btn-primary">Отмена</button>
		</div>

</div>